.heading h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;

}

nav {
  list-style: none;
  color: white;
  line-height: 30px;
  text-decoration: underline;
  text-decoration-color: white;
}
 .heading {
   text-align: center;
   background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");

 }

.process{
  text-align: center;
  font-family: Helvetica;

}

.process h2{
  font-size: 32px;
  font-weight: bold;

}

.process h3 {
  font-size: 23px;
  font-weight: bold;

}

.process p {
  font-size: 14px;

}

.hero {
  text-align: center;
  font-family: Helvetica;
  font-size: 33px;
  font-weight: bold;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.SupportingItem {
  text-align: center;
  font-family: Helvetica;

}

.SupportingItem p {
  font-size: 14px;

}

.SupportingItem h2 {
  font-size: 32px;
  font-weight: bold;

}

.footer  {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-decoration-color: white;

}

.botNav {

}
